<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class="menu-item active open">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Dashboards">Dashboards</div>
                <div class="badge bg-danger rounded-pill ms-auto">5</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Danh mục</span>
        </li>
        <li class="menu-item">
            <a href="@Url.ActionLink("Index","Category")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div>Danh mục Sản phẩm</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="@Url.ActionLink("Index","Roles")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div>Danh mục Vai trò</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Quản lý</span></li>
        <li class="menu-item">
            <a href="@Url.ActionLink("Index","Products")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div>Quản lý Sản phẩm</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="@Url.ActionLink("Index","Users")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div>Quản lý Người dùng</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Báo cáo & Thống kê</span></li>
        <li class="menu-item">
            <a href="@Url.ActionLink("Index","Report")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div>Báo cáo doanh số bán hàng</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="@Url.ActionLink("Index","Category")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div>Thống kê doanh số bán hàng</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Báo cáo & Thống kê</span></li>
        <li class="menu-item">
            <a href="@Url.ActionLink("Index","Category")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div>Cấu hình</div>
            </a>
        </li>
    </ul>
</aside>