@model ShopBusiness.Models.Product

@{
    ViewData["Title"] = "Tạo mới Sản phẩm";
}

<h4>
    Tạo mới Sản phẩm
</h4>
<div class="row mt-5">
    <div class="col-md-6">
        @{
            if (TempData["AlertMessage"] != null)
            {
                <p id="alertBox" class="alert @TempData["Type"]">
                    @TempData["AlertMessage"]
                </p>
            }
        }
          <form enctype="multipart/form-data" asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ncontent" class="control-label"></label>
                <div id="editor"></div>
               @*  <textarea asp-for="Ncontent" class="form-control"></textarea>
                <span asp-validation-for="Ncontent" class="text-danger"></span> *@
            </div>
            <div class="mb-3">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="mb-3">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
                <img id="preview" src="@Url.Content(ViewBag.Anh==null?"~/Admin/img/avatars/1.png":"~/Upload/images/"+ViewBag.Anh)" class="rounded-circle" height="40" width="40" />
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CreatePost" class="control-label"></label>
                <input asp-for="CreatePost" class="form-control" />
                <span asp-validation-for="CreatePost" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserPost" class="control-label"></label>
                <select asp-for="UserPost" class="form-control" asp-items="ViewBag.UserPost"></select>
            </div>
            <div class="mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="mb-3">
                <a asp-action="Index" class="btn btn-primary">Trở về</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="
https://cdn.jsdelivr.net/npm/ckeditor5-classic-free-full-feature@35.4.1/build/ckeditor.min.js
    "></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                plugins: ['Essentials',
                    'Paragraph',
                    'Heading',
                    'Bold',
                    'Italic',
                    'Underline',
                    'Strikethrough',
                    'SourceEditing',
                    'Subscript',
                    'Superscript',
                    'Alignment',
                    'Indent',
                    'IndentBlock',
                    'BlockQuote',
                    'Link',
                    'Image',
                    'ImageCaption',
                    'ImageStyle',
                    'ImageToolbar',
                    'ImageUpload',
                    'List',
                    'MediaEmbed',
                    'PasteFromOffice',
                    'Table',
                    'TableToolbar',
                    'TableProperties',
                    'TableCellProperties',
                    'Highlight',
                    'FontFamily',
                    'FontSize',
                    'FontColor',
                    'FontBackgroundColor', 'GeneralHtmlSupport', /* ... */]
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#alertBox').removeClass('hide');
            $('#alertBox').delay(3000).slideUp(500);
        })
       ImageFile.onchange = evt => {
            const [file] = ImageFile.files
            if (file) {
                preview.src = URL.createObjectURL(file);
            }
        }
    </script>
}
